<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite">

    <test name="My tests">
        <classes>
            <class name="testCases.HomePageTests">
                <methods>
                    <include name="runTest1"></include>
                    <include name="runTest2"></include>
                    <include name="runTest3"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>
